.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.btn {
    padding: 10px 20px;
    text-transform: uppercase;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    border: 2px solid var(--color-accent);
    font-weight: 600;
    color: var(--color-accent);
    background: transparent;
    transition: all .3s ease;
}

.btn-primary:hover {
    background: var(--color-accent);
    color: var(--color-bg);
}

.circle {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    z-index: 0;
    background: var(--color-accent);
    transform: translateY(-90px);
}